<h1>All Tracks</h1>
<% @tracks.each do |track| %>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <p>
                <%= link_to track.title, track %>
            </p>   
            <%= cl_image_tag(track.image, :width=>100, :crop=>"thumb") %>
        </div>
    </div>
<% end %>