<h1>All Artists</h1>
<% @artists.each do |artist| %>
        <ul>
         <%= cl_image_tag(artist.image, :width=>100, :crop=>"thumb") %>
            <li class="no-bullets"><%= link_to artist.name, artist %></li>
        </ul>
<% end %>


