<h1>All Labels</h1>

<% @labels.each do |label| %>
    <%# <%= image_tag label.image, :class => 'thumb' if label.image.present? %>
        <ul>
            <li class="no-bullets"><%= link_to label.name, label %></li>
        </ul>
<% end %>